<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="/"><i class="fas fa-book-open"></i> BookNotes</a>
        </div>
        <ul class="nav-links">
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/books"><i class="fas fa-book"></i> My Books</a></li>
            <li><a href="/books/add" class="btn-add"><i class="fas fa-plus"></i> Add Book</a></li>
            <li><a href="/books/about" class="btn-add"><i class="fas fa-plus"></i> About Me</a></li>
        </ul>
        <div class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>